body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: inter, Sans-serif;
  margin: 0;
}

.container {
  align-items: center;
  align-content: center;
}

.container,
.hero-img {
  width: 70%;
  border-radius: 20px 20px 0 0;
}
